<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <link rel="stylesheet" href="../css/passenger/notifications.css">
</head>
<body>
    <div class="notifications-container">
        <div class="header">
            <span class="user">Hey, Gideon</span>
            <span class="notif"><i class="fa-regular fa-bell"></i></span>
        </div>
        <div class="notifications-list">
            <div class="notification-item">
                <div class="notification-avatar">
                    <img src="https://static.wikia.nocookie.net/among-us-wiki/images/6/6f/Red.png" alt="avatar">
                </div>
                <div class="notification-content">
                    <div class="notification-title accepted">Booking Accepted</div>
                    <div class="notification-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit dolor sit amet, consectetur adipiscing elit.</div>
                </div>
                <div class="notification-time">1m ago.</div>
            </div>
            <div class="notification-item">
                <div class="notification-avatar">
                    <img src="https://static.wikia.nocookie.net/among-us-wiki/images/6/6f/Red.png" alt="avatar">
                </div>
                <div class="notification-content">
                    <div class="notification-title">Booking Failed</div>
                    <div class="notification-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit dolor sit amet, consectetur adipiscing elit.</div>
                </div>
                <div class="notification-time">1m ago.</div>
            </div>
            <div class="notification-item">
                <div class="notification-avatar">
                    <img src="https://static.wikia.nocookie.net/among-us-wiki/images/6/6f/Red.png" alt="avatar">
                </div>
                <div class="notification-content">
                    <div class="notification-title accepted">Booking Accepted</div>
                    <div class="notification-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit dolor sit amet, consectetur adipiscing elit.</div>
                </div>
                <div class="notification-time">1m ago.</div>
            </div>
            <div class="notification-item">
                <div class="notification-avatar">
                    <img src="https://static.wikia.nocookie.net/among-us-wiki/images/6/6f/Red.png" alt="avatar">
                </div>
                <div class="notification-content">
                    <div class="notification-title accepted">Booking Accepted</div>
                    <div class="notification-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit dolor sit amet, consectetur adipiscing elit.</div>
                </div>
                <div class="notification-time">1m ago.</div>
            </div>
            <div class="notification-item">
                <div class="notification-avatar">
                    <img src="https://static.wikia.nocookie.net/among-us-wiki/images/6/6f/Red.png" alt="avatar">
                </div>
                <div class="notification-content">
                    <div class="notification-title accepted">Booking Accepted</div>
                    <div class="notification-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit dolor sit amet, consectetur adipiscing elit.</div>
                </div>
                <div class="notification-time">1m ago.</div>
            </div>
        </div>
        <div class="bottom-nav">
            <span class="nav-icon"><i class="fa-solid fa-house"></i></span>
            <span class="nav-icon"><i class="fa-regular fa-location-dot"></i></span>
            <span class="nav-icon"><i class="fa-solid fa-clipboard-list"></i></span>
            <span class="nav-icon"><i class="fa-solid fa-user"></i></span>
            <span class="nav-icon"><i class="fa-solid fa-gear"></i></span>
        </div>
    </div>
</body>
</html>
